html{
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

html{
    font-size: 10px;
    -webkit-tap-highlight-color: rgba (0,0,0,0);
}

meta{
    display: none;
}

title{
    display: none;
}

body{
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif ;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0;
}

header {
    background-image: url(360_F_320686681_Ur6vdYQgDC9WiijiVfxlRyQffxOgfeFz.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    position: relative;
    border: 1px solid darkorange;
    display: flex;
    justify-content: space-between;
    height: 136px;
    padding: 5%;
    background-color: rgb(231, 225, 225);
}

h1{
    font-family: fantasy;
    font-size: 36px;
}

header li{
    margin-right: 2%;
    border: 1px solid black;
    width: 60px;
    height: 40px;
    padding: 8px;
    background-color: black;
    border-radius: 5px;
    border-color: #EF6349;
}

header a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    color: #EF6349;
}

a {
    background-color: transparent;
    color: #337ab7;
    text-decoration: none;
}

#cart {
    background-color: black;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: large;
    margin: 14px;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex; 
}

.content {
    width: 126%;
}

.cart-header {
    display: flex;
    margin: 5%;
    border-bottom: 4px solid lightgray;
    font-size: large;
}

.cart-header h2 {
    font-size: 24px;
}

.product {
    width: 50%;
}

.Quantity {
    width: 17%;
}

.prices {
    width: 15%;
}

.article {
    display: flex;
    margin: 5%;
    width: 108%;
}

.article img {
    width: 15%;
}
img {
    vertical-align: middle;
    border: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.article p {
    margin-left: 1%;
}

p {
    margin: 0 0 10px;
}

.quantity {
    display: flex;
    width: 32%;
    padding-left: 21%;
}

.article button {
    height: 10%;
    width: 15%;
    font-weight: bold;
    background-color: bisque;
    border: none;
    border-radius: 5px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

button {
    overflow: visible;
    
}
button, select {
    text-transform: none;
}

.price {
    display: flex;
    padding-right: 170px;
}

.material-icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing:antialiased;
}

element.style {
    font-size: 24px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing:antialiased
}

i{
    width: 5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr{
    margin-top: 20px;
    margin-bottom:20px; 
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    box-sizing: content-box;
}

.price {
    display: flex;
    padding-right: 170px;
}

.commander {
    width: 156%;
    margin-left: 33%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 90%;
}
.h3, h3 {
    font-size: 24px;
}

.commander h4 {
    margin-top: 23px;
    margin-right: 17px;
}
.h4, h4 {
    font-size: 18px;
}

.MakePrice {
    background: yellowgreen;
    font-size: inherit;
    border: none;
    border-radius: 22px;
    padding: 21px;
    color: white;
    text-decoration: none;
}

aside a {
    position: absolute;
    right: 6%;
    margin-top: 2%;
    margin-right: 3%;
}
